{% load djangovue %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	{% load_vuejs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

</head>
<body>
  {% djangovue on %}
  <div id="app">
    <p>{{ connectedMessage }}</p>
    <p>Request count: {{ requestCount }}</p>
  </div>
  {% enddjangovue on %}

	<script>
		new Vue({
      el: "#app",
      name: "FrontEnd",
      data: {
        client: null,
        connected: false,
        message: "testing",
        requestCount: 0,
      },
      computed: {
        connectedMessage() {
          return this.connected ? "WebSocket connected" : "WebSocket disconnected";
        }
      },
			created() {
        this.client = new Paho.MQTT.Client("localhost/ws/", Number(location.port), "clientId");
        this.client.onMessageArrived = (message) => { ++this.requestCount };
        this.client.onConnectionLost = (response) => {
          if (response.errorCode !== 0) {
            console.log(response.errorMessage);
          }
        }
        this.client.connect({onSuccess: () => this.client.subscribe("class")});
			}
		});
  
	</script>
</body>
</html>


